@import url(http://fonts.googleapis.com/css?family=Source+Code+Pro); 

tt, pre {
   font-family: 'Source Code Pro','Courier New';
   color:grey;
   background-color: #FFFFFF;
   margin-left: 25px;
   text-indent:0px;
}

code{
  font-family: 'Source Code Pro', 'Courier New';
 /* background-color: #ffffff; */
} 

pre code {
    font-family: 'Source Code Pro', 'Courier New';
    display: block;
   /* padding: 0.5em; */
    font-size: 1.0em;
    line-height: 1.1em;
  /*  background-color: #FBFADA; */
    overflow: visible;
    max-height: none;
    word-wrap: normal;
}

.r {
    font-family: 'Source Code Pro', 'Courier New';  
    background-color: #FBFADA;
}

table, th, td {
  border: 2px solid white;
  padding-top: 3px;
  padding-bottom: 13px;
  padding-right: 15px;
  padding-left: 10px;
  background-color: #F5F5F5;
  vertical-align: top;
  line-height: 1em;
}

th.good {
 vertical-align: center;
 background: #BCEE68;
}

th.bad {
vertical-align: center;
 background: #FFDAB9;
}

